<!DOCTYPE html>

<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
  <head>
    <title>$info.title_text</title>

    <meta name="author" content="$info.author">
    <meta name="description" content="$info.description_text">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <!-- Foundation stylesheets -->
    <link rel="stylesheet" href="/foundation/css/normalize.css">
    <link rel="stylesheet" href="/foundation/css/foundation.css">
    <!-- Blogula generated stylesheets -->
    <link rel="stylesheet" href="/blogula.css">
    <link rel="stylesheet" href="/code_highlight.css">

    <script src="/foundation/js/vendor/modernizr.js"></script>
  </head>

  <body>
    <div class="row">
      <div class="small-8 large-8 columns">
        #for $post in $posts
        <h$presentation.article_title_heading_level><a href="$post.url">$post.title_html</a></h$presentation.article_title_heading_level>
        <p class="text-justify">$post.description_html [ $post.date_str ] [ <a href="$post.url">more</a> ]</p>
        
        #if len($post.tags_html) >= 1
        <div>Tags:
          #for i in range(len($post.tags_html)-1)
          $post.tags_html[i],
          #end for
          $post.tags_html[len($post.tags_html)-1]
        </div>
        #end if
        #end for
      </div>

      <div class="small-4 large-4 columns">
        <h$presentation.title_heading_level><a href="/">$info.title_html</a></h$presentation.title_heading_level>
        <p><img src="$info.avatar_url" alt="Avatar image"></img></p>
        <p class="text-justify">$info.description_html</p>
      </div>
    </div>

    <script src="/foundation/js/vendor/jquery.js"></script>
    <script src="/foundation/js/foundation.min.js"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        jax: ["input/TeX","output/SVG"],
        SVG: {
          linebreaks: true
        }
      });
    </script>    
    <script src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_SVG"></script>
    <script>
      #raw
      $(document).foundation();
      #end raw
    </script>
  </body>
</html>
