#import errors
<!DOCTYPE html>

<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
  <head>
    <title>$post.title - $info.title_text</title>

    <meta name="author" content="$info.author">
    <meta name="description" content="$post.description">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <link rel="stylesheet" href="/foundation/css/normalize.css">
    <link rel="stylesheet" href="/foundation/css/foundation.css">

    <script src="/foundation/js/vendor/modernizr.js"></script>
  </head>

  <body>
    <div class="row">
      <div class="small-8 large-8 columns">
        <h$presentation.article_title_heading_level>$post.title</h$presentation.article_title_heading_level>

        #for $lineunit in $post.lineunits
        #if $lineunit.type == 'header'
        <h$lineunit.level>$lineunit.text</h$lineunit.level>
        #else if $lineunit.type == 'paragraph'
        <p class="text-justify">lineunit.text</p>
        #else
          #raise errors.Error('Invalid paragraph type')
        #end if
        #end for

        #if len($post.tags) >= 1
        <p>Tags:
          #for i in range(len($post.tags)-1)
           $post.tags[i],
          #end for
          $post.tags[len($post.tags)-1]
        </p>
        #end if

        <div class="row">
          <span class="small-12 large-12 columns">Global Navigation</span>

          <div class="small-6 small-6 columns text-left">
            #if $post.prev_post
            <a href="$post.prev_post.url">$post.prev_post.title</a>
            #else
            <a href="/">Home</a>
            #end if
          </div>

          <div class="small-6 small-6 columns text-right">
            #if $post.next_post
            <a href="$post.next_post.url">$post.next_post.title</a>
            #else
            <a href="/">Home</a>
            #end if
          </div>
        </div>

        #for s in $post.series
        <div class="row">
          <span class="small-12 large-12 columns">In the "$s.title" series</span>

          <div class="small-6 small-6 columns text-left">
            #if $s.prev_post
            <a href="$s.prev_post.url">$s.prev_post.title</a>
            #else
            <a href="/">Home</a>
            #end if
          </div>

          <div class="small-6 small-6 columns text-right">
            #if $s.next_post
            <a href="$s.next_post.url">$s.next_post.title</a>
            #else
            <a href="/">Home</a>
            #end if
          </div>
        </div>
        #end for
      </div>

      <div class="small-4 large-4 columns">
        <h$presentation.title_heading_level><a href="/">$info.title_html</a></h$presentation.title_heading_level>
        <p><img src="$info.avatar_url" alt="Avatar image"></img></p>
        <p class="text-justify">$info.description</p>
      </div>
    </div>

    <script src="/foundation/js/vendor/jquery.js"></script>
    <script src="/foundation/js/foundation.min.js"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: { inlineMath: [['$','$'],['\\(','\\)']] }
      });
    </script>
    <script src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script>
      #raw
      $(document).foundation();
      #end raw
    </script>
  </body>
</html>
