<!DOCTYPE html>

<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html>
  <head>
    <title>$post.title - $blog.title</title>

    <meta name="author" content="$blog.author">
    <meta name="description" content="$post.description">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <link rel="stylesheet" href="/foundation/css/normalize.css">
    <link rel="stylesheet" href="/foundation/css/foundation.css">

    <script src="/foundation/js/vendor/modernizr.js"></script>
  </head>

  <body>
    <div class="row">
      <div class="small-12 large-12 columns">
	<h1><a href="/">$blog.title</a></h1>
      </div>

      <div class="small-12 large-12 columns">
	<h2>$post.title</h2>
      </div>

      <div class="small-12 large-12 columns">
	#for $paragraph in $post.paragraphs
	<p class="text-justify">$paragraph</p>
	#end for
      </div>

      <div class="small-6 small-6 columns">
	#if $post.prev_post
	<a href="$post.prev_post.url">$post.prev_post.title</a>
	#else
	<a href="/">Home</a>
	#end if
      </div>

      <div class="small-6 small-6 columns">
	#if $post.next_post
	<a href="$post.next_post.url">$post.next_post.title</a>
	#else
	<a href="/">Home</a>
	#end if
      </div>
    </div>

    <script src="/foundation/js/vendor/jquery.js"></script>
    <script src="/foundation/js/foundation.min.js"></script>
    <script>
      #raw
      $(document).foundation();
      #end raw
    </script>
  </body>
</html>
